<div class="topnav">
        <img src = "img/header.jpg" width="300" class="right">
        <a class="active" href="/">Home</a>        
        <a href="nations">Nations</a>
        <a href="characters">Characters</a>
        <a href="authors">Authors</a>
        <a href="books">Books</a>
</div>
      
<div style="padding-left:16px">
    <h1>The Wheel of Time Database Manager</h1>
    <p>
        <i>
        The fan compendium for the greatest fantasy series every written...
        For fans. By fans.
        </i>
        <br>
        <br>
        <h4>
            Peruse information on the book series and add to our database 
            using the navigation menu above.
        </h3>
    </p>

    <ul>
        <li>
            <a href="books">Books</a>
            <ul>
                <li>Add Books</li>
                <li>Browse Books</li>                    
                <li>Manage the Author(s) and Character appearances for each Book</li>
                <li>Browse Books & their respective Author(s)</li>
                <li>Browse Characters in Each Book</li>
            </ul>
        </li>
        <li>
            <a href="authors">Authors</a>
            <ul>
                <li>Add new Author</li>
                <li>Browse Authors</li>
                <li>Delete Authors</li>                
            </ul>
        </li>
        <li>
            <a href="characters">Characters</a>
            <ul>
                <li>Add new Character</li>
                <li>Browse & Update Characters</li>
                <li>Search for Book Appearances by Character</li>
                <li>Delete Characters</li>                
            </ul>
        </li>
        <li>
            <a href="nations">Nations</a>
            <ul>
                <li>Add new Nation</li>
                <li>Browse Nations</li>
                <li>Delete Nations</li>
            </ul>
        </li>
    </ul>   
    <br>
    <br> 
    <center><img src="img/quote.jpg" width="400"></center>
</div>   

<h6>
<center>
    <i>Images borrowed from:</i>
    <br>
    https://computerscience.johncabot.edu/mscaramastra/F2017/CS130-2/Dunayeva/Final%20The%20Wheel%20of%20Time/images/The%20Wheel%20of%20Time/books.html   
    <br>
    https://www.magicalquote.com/powerful-wheel-of-time-quotes/
</center>
</h6>